{:deps    {org.clojure/clojure                            {:mvn/version "1.12.0"}
           aero/aero                                      {:mvn/version "1.1.6"}
           com.openai/openai-java                         {:mvn/version "1.6.1"}
           org.telegram/telegrambots-meta                 {:mvn/version "8.3.0"}
           org.telegram/telegrambots-longpolling          {:mvn/version "8.3.0"}
           org.telegram/telegrambots-client-jetty-adapter {:mvn/version "8.3.0"}
           mount/mount                                    {:mvn/version "0.1.23"}
           com.taoensso/carmine                           {:mvn/version "3.3.1"}
           cheshire/cheshire                              {:mvn/version "5.13.0"}}
 :paths   [:clj-paths :resource-paths]
 :aliases {:build {:deps
                   {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd62"}
                    org.clojure/clojure {:mvn/version "1.12.0"}}
                   :ns-default build
                   :extra-paths ["."]}
           :clj-paths      ["src"]
           :resource-paths ["resources"]
           :run            {:main-opts ["-m" "main"]}}}
