{:deps    {org.clojure/clojure                            {:mvn/version "1.12.0"}
           aero/aero                                      {:mvn/version "1.1.6"}
           com.openai/openai-java                         {:mvn/version "1.6.1"}
           org.telegram/telegrambots-meta                 {:mvn/version "8.3.0"}
           org.telegram/telegrambots-longpolling          {:mvn/version "8.3.0"}
           org.telegram/telegrambots-client-jetty-adapter {:mvn/version "8.3.0"}
           mount/mount                                    {:mvn/version "0.1.23"}
           com.datomic/pro                                {:mvn/version "1.0.7364"}
           org.xerial/sqlite-jdbc                         {:mvn/version "3.47.0.0"}
           org.clojure/tools.logging                      {:mvn/version "1.3.0"}}
 :paths   [:clj-paths :resource-paths]
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.1" :git/sha "a2d1404"}}
                   :ns-default build}
           :clj-paths      ["src"]
           :resource-paths ["resources"]
           :run            {:main-opts ["-m" "main"]}}}
